# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# --- Operating System Files ---
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp

# --- IDE & Editors ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Tool Specific / Forensic Logs ---
*.cap
*.pcap
*.csv
*.log
*.enc

# --- Documentation Build ---
site/
_build/
